@CHARSET "UTF-8";

/* Main */
#socialHub #socialmenu {
	list-style: none;  
	margin: 0 0 0 90px;
	padding: 10px 0 0 0;
}

#socialHub #socialmenu .title {
	width: 85px;
	height: 18px;
	margin-bottom:10px;
	background: url(../img/sprite.png) 65px -18px no-repeat;
	line-height:18px;
	display:block;
	color: #000;
}

#socialHub #socialmenu .title:hover {
	background: url(../img/sprite.png) 65px 0 no-repeat;
}

#socialHub #socialmenu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#socialHub #socialmenu > li a {
	color: #000;
	font: 10px Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
#socialHub #socialmenu li:hover > ul{
	display: block;
}

/* Sub-menu */

#socialHub #socialmenu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 38px;
    left: -10px;
    z-index: 99999;    
    background: #dbdbdb;
}

#socialHub #socialmenu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    border: 1px solid #ededed;
   	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#socialHub #socialmenu ul a {
	width:150px;
    padding: 15px;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: uppercase;
    font: 14px Helvetica, Arial, sans-serif;
    background: #dbdbdb;
}

#socialHub #socialmenu ul a:hover{
    background: #ededed;
}

#socialHub #socialmenu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#socialHub #socialmenu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#socialHub #socialmenu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
