@CHARSET "UTF-8";

/** 
 *	CMG SocialHub CSS
 *	@version 0.2
 *	@author Sonyl Nagale <sonyl@livefyre.com>
 *
 *	@note Includes responsive elements
 * 
 *  @todo Handheld devices
 */
 
body {
	margin:0;
	background-color: #e8e8e8;
}

#rootContainer {
	z-index: 100;
	width: 83%;
	position: relative;
	margin: 0 auto 0;
	background: #fafafa;
	min-height: 235px;
	padding-top: 5px;
}

#socialHub {
	width: 100%;
	margin: 0 auto;
	box-shadow: -3px 0 5px rgba(204, 204, 204, 0.5), 3px 0 5px rgba(204, 204, 204, 0.5);
}

#socialHub a {
	color: #003399;
}

#socialHub #socialheader {
	height: 35px;
	background: linear-gradient(to bottom, #01256e, #003399);
	background: -webkit-linear-gradient(top, #01256e, #003399);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	overflow:hidden;
}

#socialHub #socialheader.scroll {
	position:fixed;
	top:0;
	width: 83%;
	z-index: 100;
	
}

#socialHub #socialheader div {
	width: 100%;
	margin: 0 auto;
}

#socialHub #socialheader div a:not(:last-child) {
	border-right: 1px solid #00226e;
}

#socialHub #socialheader div a.only {
	border:none;
}
#socialHub #socialheader a {
	display: block;
	width: 33%;
	float:left;
	text-align: center;
	height: 35px;
	text-transform: uppercase;
	color: #fff;
	font: bold 21px/35px Arial, sans-serif;
}

#socialHub #hub, #socialHub #wall {
	width: 96%;
	margin: -20px auto 0;
	padding: 20px 2% 0;
	overflow:auto;
}

#socialHub #wall {
	margin: 0 auto;
	padding: 20px 0 0;
	display:none;
}
#socialHub #hub .feed {
	width: 31%;
 	float: left;
	margin: 0 1%;
}

#socialHub #socialsort {
	margin-top: 10px;
}

#socialHub #socialsort a {
	cursor:pointer;
}

/* Overriding default styles */

#socialHub .content {
	border-radius:0;
}

#socialHub .content-body {
	font: bold 18px/24px Helvetica, Arial, sans-serif;
	color: #000;
}

#socialHub a.content-author-username {
	position: relative;
	top: -6px
}

#socialHub .content-author-name a, #socialHub a.content-author-username {
	font: italic 12px/20px Helvetica, Arial, sans-serif;
	color: #999;
}

#socialHub .content.content-with-image .content-author-name a, 
#socialHub .content.content-with-image a.content-author-username {
	color: #fff;
}

#socialHub .content-author-avatar img {
	mask-image: url(../img/mask.png);
	-webkit-mask-image: url(../img/mask.png);
}

#socialHub .hub-list-more {
	display:none !important;
}

/** iPad portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	#socialHub #socialheader a {
		font: bold 16px/35px Arial, sans-serif;
	}
	
	#socialHub .content-body {
		font: bold 13px/18px Arial, sans-serif;
	}
	
	#socialHub #wall .content-container {
		max-width: 33.3%;
	}
}

/** iPhone 5 portrait & landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
	
}

/** iPhone 2G-4S in portrait & landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

}