@CHARSET "UTF-8";

body {
	margin:0;
}

#socialHub {
	width: 1030px;
	margin: 0 auto;
	box-shadow: -3px 0 5px rgba(204, 204, 204, 0.5), 3px 0 5px rgba(204, 204, 204, 0.5);
}

#socialHub header {
	height: 35px;
	background: linear-gradient(0deg, #002772 100%, #023299 0%);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	overflow:hidden;
}

#socialHub header a {
	display: block;
	width: 343px;
	float:left;
	text-align: center;
	height: 35px;
	text-transform: uppercase;
	color: #fff;
	font: bold 14px/35px Helvetica, Arial, sans-serif;
}

#socialHub #hub, #socialHub #wall {
	width: 930px;
	margin: 40px 50px 0;
	overflow:auto;
}

#socialHub #hub .feed {
	width: 292px;
 	float: left;
	margin: 0 7px;
}

#socialHub #sort {
	margin: 15px 50px 0;
}

#socialHub #sort a {
	cursor:pointer;
}

/* Overriding default styles */

#socialHub .content {
	border-radius:0;
}

#socialHub .content-body {
	font: bold 18px/24px Helvetica, Arial, sans-serif;
	color: #000;
}

#socialHub a.content-author-username {
	position: relative;
	top: -6px
}

#socialHub .content-author-name a, #socialHub a.content-author-username {
	font: italic 10px Helvetica, Arial, sans-serif;
	color: #999;
}

#socialHub .content.content-with-image .content-author-name a, 
#socialHub .content.content-with-image a.content-author-username {
	color: #fff;
}