<?php
    header("Content-type: text/css");
	
	$version = '1.1.8';
	$build_date = date('c');
	
	$files = array(
		'menu.css',
		'popular.css',
		'styles.css',
	);
	
	$return = '';
	
	foreach ($files as $file) {
		$return .= file_get_contents($file);
	}
	$versioninfo = "/** Version $version \n Build Date: $build_date */\n\n";
	
	$releasenotes =<<<EOF
/**
	RELEASE NOTES:
	
	v1.1.8: Reacting to new mobile class to show Load More button for Android
	v1.1.7: Fix URLs breaking out of box
	v1.1.6: White link for RSS author name when image is present
	v1.1.5: Sync
	v1.1.4: Sync
	v1.1.3: Blue gradient bg image for < IE10
	v1.1.2: Allow proper word wrapping
	v1.1.1: Sync
*/	
EOF;
	
	echo $versioninfo . $releasenotes . $return;
	
	echo $return;