@CHARSET "UTF-8";

/** 
 *	CMG SocialHub CSS
 *	@version 0.3
 *	@author Sonyl Nagale <sonyl@livefyre.com>
 *
 *	@note Includes responsive elements
 * 
 *  @todo Handheld Android devices
 */

#rootContainer {
	z-index: 100;
	width: 83%;
	position: relative;
	margin: 0 auto 0;
	background: #fafafa;
	min-height: 235px;
	padding-top: 5px;
}

#socialHub {
	width: 100%;
	margin: 0 auto;
	box-shadow: -3px 0 5px rgba(204, 204, 204, 0.5), 3px 0 5px rgba(204, 204, 204, 0.5);
}

#socialHub { 
	margin-bottom: 130px; 
}


#socialHub .content-body a {
	color: #003399;
}

#socialHub a:hover {
	border:none;
}


#socialHub .content a {
	color: #003399;
}

#socialHub #socialheader {
	height: 35px;
	background: linear-gradient(to bottom, #01256e, #003399);
	background: -webkit-linear-gradient(top, #01256e, #003399);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	overflow:hidden;
}

#socialHub #socialheader a {
	text-decoration:none;
}

#socialHub #socialheader.scroll {
	position:fixed;
	top:0;
	width: 83%;
	z-index: 100;
	
}

#socialHub #socialheader div {
	width: 100%;
	margin: 0 auto;
}

#socialHub #socialheader div a:not(:last-child) {
	border-right: 1px solid #00226e;
}

#socialHub #socialheader div a.only {
	border:none;
}
#socialHub #socialheader a {
	display: block;
	width: 33%;
	float:left;
	text-align: center;
	height: 35px;
	text-transform: uppercase;
	color: #fff;
	font: bold 21px/35px Arial, sans-serif;
}

#socialHub #hub, #socialHub #wall {
	width: 96%;
	margin: -20px auto 0;
	padding: 20px 2% 0;
	overflow:auto;
}

#socialHub #wall {
	margin: 0 auto;
	padding: 20px 0 0;
	display:none;
}
#socialHub #hub .feed {
	width: 31%;
 	float: left;
	margin: 0 1%;
}

#socialHub #socialsort {
	margin-top: 10px;
}

#socialHub #socialsort a {
	cursor:pointer;
}


#socialHub .content-featured {
	display:none;
}

/* Overriding default styles */

#socialHub .content {
	border-radius:0;
}

#socialHub .content-body {
	font: bold 18px/24px Helvetica, Arial, sans-serif;
	color: #000;
}


#socialHub a.content-author-username {
	position: relative;
	top: -6px
}

#socialHub .content-author-name a, #socialHub a.content-author-username {
	font: italic 12px/20px Helvetica, Arial, sans-serif;
	color: #999;
}

#socialHub .content.content-with-image .content-author-name a, 
#socialHub .content.content-with-image a.content-author-username,
#socialHub .content.custom-instagram-content-view a.content-author-name {
	color: #fff;
}

#socialHub .content-author-avatar img {
	mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOFJREFUeNrsV8ENwyAMDEySEdigGYERGCmjdASyAaOwgWskUyVSS4kaOB456ZQPsQ9jwVkR0VQDpZThj2UuzMeXZRvTM58cN1QFTgJKZDhmCkYnmf5xP+MXEs+yG/qTKcZ8SoCUOl6QPDPFslUCpOTUiK4oQHZOjWk/CpAzjx0ExH1P7AX4DsnfjXkQ0Pjci/2QBQSAgJAvQQNInmm0dD4KVsvdjsKipBQw6AmMW8AtQIuNQmHT8gih4OFXMfwxyk24Asq/Hmw51JAMYcngpnQIWz7EYDLEaNZzOFXo8fwlwABtpVlaH2tKmAAAAABJRU5ErkJggg==);
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOFJREFUeNrsV8ENwyAMDEySEdigGYERGCmjdASyAaOwgWskUyVSS4kaOB456ZQPsQ9jwVkR0VQDpZThj2UuzMeXZRvTM58cN1QFTgJKZDhmCkYnmf5xP+MXEs+yG/qTKcZ8SoCUOl6QPDPFslUCpOTUiK4oQHZOjWk/CpAzjx0ExH1P7AX4DsnfjXkQ0Pjci/2QBQSAgJAvQQNInmm0dD4KVsvdjsKipBQw6AmMW8AtQIuNQmHT8gih4OFXMfwxyk24Asq/Hmw51JAMYcngpnQIWz7EYDLEaNZzOFXo8fwlwABtpVlaH2tKmAAAAABJRU5ErkJggg==);
}

#socialHub .custom-instagram-content-view a {
	font: italic 12px/20px Helvetica, Arial, sans-serif;	
	color: #fff;
}

.hub-modals .hub-modal {
	z-index:500;
}

#socialHub .hub-list-more, #socialHub .hub-list-more:hover {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-image: url(data:image/gif;base64,R0lGODlhIAAgAPMAAP///1925Nrg+LG88dDX9r/I84CS6ZSk7Obp+u3w+9Ta93GG52F45AAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAIAAgAAAE5xDISWlhperN52JLhSSdRgwVo1ICQZRUsiwHpTJT4iowNS8vyW2icCF6k8HMMBkCEDskxTBDAZwuAkkqIfxIQyhBQBFvAQSDITM5VDW6XNE4KagNh6Bgwe60smQUB3d4Rz1ZBApnFASDd0hihh12BkE9kjAJVlycXIg7CQIFA6SlnJ87paqbSKiKoqusnbMdmDC2tXQlkUhziYtyWTxIfy6BE8WJt5YJvpJivxNaGmLHT0VnOgSYf0dZXS7APdpB309RnHOG5gDqXGLDaC457D1zZ/V/nmOM82XiHRLYKhKP1oZmADdEAAAh+QQJCgAAACwAAAAAIAAgAAAE6hDISWlZpOrNp1lGNRSdRpDUolIGw5RUYhhHukqFu8DsrEyqnWThGvAmhVlteBvojpTDDBUEIFwMFBRAmBkSgOrBFZogCASwBDEY/CZSg7GSE0gSCjQBMVG023xWBhklAnoEdhQEfyNqMIcKjhRsjEdnezB+A4k8gTwJhFuiW4dokXiloUepBAp5qaKpp6+Ho7aWW54wl7obvEe0kRuoplCGepwSx2jJvqHEmGt6whJpGpfJCHmOoNHKaHx61WiSR92E4lbFoq+B6QDtuetcaBPnW6+O7wDHpIiK9SaVK5GgV543tzjgGcghAgAh+QQJCgAAACwAAAAAIAAgAAAE7hDISSkxpOrN5zFHNWRdhSiVoVLHspRUMoyUakyEe8PTPCATW9A14E0UvuAKMNAZKYUZCiBMuBakSQKG8G2FzUWox2AUtAQFcBKlVQoLgQReZhQlCIJesQXI5B0CBnUMOxMCenoCfTCEWBsJColTMANldx15BGs8B5wlCZ9Po6OJkwmRpnqkqnuSrayqfKmqpLajoiW5HJq7FL1Gr2mMMcKUMIiJgIemy7xZtJsTmsM4xHiKv5KMCXqfyUCJEonXPN2rAOIAmsfB3uPoAK++G+w48edZPK+M6hLJpQg484enXIdQFSS1u6UhksENEQAAIfkECQoAAAAsAAAAACAAIAAABOcQyEmpGKLqzWcZRVUQnZYg1aBSh2GUVEIQ2aQOE+G+cD4ntpWkZQj1JIiZIogDFFyHI0UxQwFugMSOFIPJftfVAEoZLBbcLEFhlQiqGp1Vd140AUklUN3eCA51C1EWMzMCezCBBmkxVIVHBWd3HHl9JQOIJSdSnJ0TDKChCwUJjoWMPaGqDKannasMo6WnM562R5YluZRwur0wpgqZE7NKUm+FNRPIhjBJxKZteWuIBMN4zRMIVIhffcgojwCF117i4nlLnY5ztRLsnOk+aV+oJY7V7m76PdkS4trKcdg0Zc0tTcKkRAAAIfkECQoAAAAsAAAAACAAIAAABO4QyEkpKqjqzScpRaVkXZWQEximw1BSCUEIlDohrft6cpKCk5xid5MNJTaAIkekKGQkWyKHkvhKsR7ARmitkAYDYRIbUQRQjWBwJRzChi9CRlBcY1UN4g0/VNB0AlcvcAYHRyZPdEQFYV8ccwR5HWxEJ02YmRMLnJ1xCYp0Y5idpQuhopmmC2KgojKasUQDk5BNAwwMOh2RtRq5uQuPZKGIJQIGwAwGf6I0JXMpC8C7kXWDBINFMxS4DKMAWVWAGYsAdNqW5uaRxkSKJOZKaU3tPOBZ4DuK2LATgJhkPJMgTwKCdFjyPHEnKxFCDhEAACH5BAkKAAAALAAAAAAgACAAAATzEMhJaVKp6s2nIkolIJ2WkBShpkVRWqqQrhLSEu9MZJKK9y1ZrqYK9WiClmvoUaF8gIQSNeF1Er4MNFn4SRSDARWroAIETg1iVwuHjYB1kYc1mwruwXKC9gmsJXliGxc+XiUCby9ydh1sOSdMkpMTBpaXBzsfhoc5l58Gm5yToAaZhaOUqjkDgCWNHAULCwOLaTmzswadEqggQwgHuQsHIoZCHQMMQgQGubVEcxOPFAcMDAYUA85eWARmfSRQCdcMe0zeP1AAygwLlJtPNAAL19DARdPzBOWSm1brJBi45soRAWQAAkrQIykShQ9wVhHCwCQCACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiRMDjI0Fd30/iI2UA5GSS5UDj2l6NoqgOgN4gksEBgYFf0FDqKgHnyZ9OX8HrgYHdHpcHQULXAS2qKpENRg7eAMLC7kTBaixUYFkKAzWAAnLC7FLVxLWDBLKCwaKTULgEwbLA4hJtOkSBNqITT3xEgfLpBtzE/jiuL04RGEBgwWhShRgQExHBAAh+QQJCgAAACwAAAAAIAAgAAAE7xDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfZiCqGk5dTESJeaOAlClzsJsqwiJwiqnFrb2nS9kmIcgEsjQydLiIlHehhpejaIjzh9eomSjZR+ipslWIRLAgMDOR2DOqKogTB9pCUJBagDBXR6XB0EBkIIsaRsGGMMAxoDBgYHTKJiUYEGDAzHC9EACcUGkIgFzgwZ0QsSBcXHiQvOwgDdEwfFs0sDzt4S6BK4xYjkDOzn0unFeBzOBijIm1Dgmg5YFQwsCMjp1oJ8LyIAACH5BAkKAAAALAAAAAAgACAAAATwEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GGl6NoiPOH16iZKNlH6KmyWFOggHhEEvAwwMA0N9GBsEC6amhnVcEwavDAazGwIDaH1ipaYLBUTCGgQDA8NdHz0FpqgTBwsLqAbWAAnIA4FWKdMLGdYGEgraigbT0OITBcg5QwPT4xLrROZL6AuQAPUS7bxLpoWidY0JtxLHKhwwMJBTHgPKdEQAACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GAULDJCRiXo1CpGXDJOUjY+Yip9DhToJA4RBLwMLCwVDfRgbBAaqqoZ1XBMHswsHtxtFaH1iqaoGNgAIxRpbFAgfPQSqpbgGBqUD1wBXeCYp1AYZ19JJOYgH1KwA4UBvQwXUBxPqVD9L3sbp2BNk2xvvFPJd+MFCN6HAAIKgNggY0KtEBAAh+QQJCgAAACwAAAAAIAAgAAAE6BDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfYIDMaAFdTESJeaEDAIMxYFqrOUaNW4E4ObYcCXaiBVEgULe0NJaxxtYksjh2NLkZISgDgJhHthkpU4mW6blRiYmZOlh4JWkDqILwUGBnE6TYEbCgevr0N1gH4At7gHiRpFaLNrrq8HNgAJA70AWxQIH1+vsYMDAzZQPC9VCNkDWUhGkuE5PxJNwiUK4UfLzOlD4WvzAHaoG9nxPi5d+jYUqfAhhykOFwJWiAAAIfkECQoAAAAsAAAAACAAIAAABPAQyElpUqnqzaciSoVkXVUMFaFSwlpOCcMYlErAavhOMnNLNo8KsZsMZItJEIDIFSkLGQoQTNhIsFehRww2CQLKF0tYGKYSg+ygsZIuNqJksKgbfgIGepNo2cIUB3V1B3IvNiBYNQaDSTtfhhx0CwVPI0UJe0+bm4g5VgcGoqOcnjmjqDSdnhgEoamcsZuXO1aWQy8KAwOAuTYYGwi7w5h+Kr0SJ8MFihpNbx+4Erq7BYBuzsdiH1jCAzoSfl0rVirNbRXlBBlLX+BP0XJLAPGzTkAuAOqb0WT5AH7OcdCm5B8TgRwSRKIHQtaLCwg1RAAAOwAAAAAAAAAAAA==);
	color: rgba(255,255,255,0);
	border:none;
	background-color:transparent;
	box-shadow:none
}

#socialHub .content-body a, #socialHub .content-body a p {
	color: #000;
	font-weight: bold;
}

/** sharing intents */

#socialHub .content-action-share {
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAABDCAYAAAAS2Gw+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3NpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDplNGI0MzYyZi02NDFiLTRjMTEtYjE5Yi04YWUxNWJmYzE1NTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzMzNDE3RjA1QTM3MTFFMzg5MTlBMzUyQUNGMTI4NDAiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzMzNDE3RUY1QTM3MTFFMzg5MTlBMzUyQUNGMTI4NDAiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6ZTRiNDM2MmYtNjQxYi00YzExLWIxOWItOGFlMTViZmMxNTU1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOmU0YjQzNjJmLTY0MWItNGMxMS1iMTliLThhZTE1YmZjMTU1NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhaMtYkAAAPDSURBVHja7JpLSJRRFMdnxulJpGYT2MqCTKJIrKzoQQ8VWgTmooiyFzVgEVQQEQW1aKFLFxENVEIpkWhl4CIrW6SFtEjsrURtSqzQntrkMP1P/ZWv6Xvcz/lmnGAO/MCZ7373/r2Pc8856g6Hw67RNo8rASwpIqFEeAOBgGrbFLAKFIKlYBaYxu9DoAd0gvugCdzl96bm9/tdXoXB08A+kmkiMJOsBEfAO3Ca9EWzHLtAFzhlIsDIMvleF/uxLSIV1IFzICPKJc9gP3XsV0mEj+tZ4vD+K2G/PisRovQmyI3RQchl/6lGItygKoYCtEKqON4/InaD4ji5hmKO95cIOYYVDg0wqNiuguMOizgA0h0SsR48VmiXznF/ixCHVebgVD8H+TyWVlYGj+0VEQV0v2brNyOCMxFtBkAruAK+gn6u+RZ+NjIZt8DDu8DMroNuzee9mpnrBft59peBTeCDpm0NyAPtJv0Xejl1VrYENEd89wqsAW8s3pVL7SS4avA8X2Yie4QnYINGgI+/jNyy4yP80AlQb9JXtlfPjSrYRdDBi+kwyNE8kz3zGkwBl8A6i758Xq3nsmEBXtFGpyqPF1aWQl9ujw3nMmTfwSITATt4UrIU+/vpYfBhxwYsvKvsgXGa02Nl3R46Fzsmaz3Bok2Q+6VBxbl5OHVO22VwQbFtq2zMRk6hmd2zebcEbbRtFBFtXJIcg0abwbMRzMZYsNhqKRBttw1F25U694HW9cbKKrVX+Xm613haJ8cdFhF0+DpXsbKhvaMN726D8jgJKOd4utH2cVAbYwG1HMcw5JfccSuojpGAavYfskp+ZJ1KwVGVhFbRQuyvVM+HGKWBYa7bAtASpYAW9lPOfm0nxBKWLQdFvAdUb9xBti/i++2m9QnFTpuIuO7VDPdmM9mdxGD2I3gBHjAU7FWdKq/Nqe1lqFafrFklRSRFJEX87yLGJIKIOyZBc9xEzAMPmQ46cnd4GG3n6OQhByWP5OcUtpnO5ZjI5EdKBVIT/xaNiMmsvmjtBjhEAVIUPcaUT6/8vJ3J80bwJNpbVKpxK/jzF0ZKUoe4BWZavDuHt24ua1kj3hMyaB8JMbtq0BHwSefdZv4C/U5vzD1gLnjKpcjirKZFCJESghTmepwMarQiaijgh87zz9wP12J1RKdyancaCJBa1kJVASOdCfmLzjaT9H+t5pkU5d7HYiY6LJLnIDfuWdefiu6oXWB+4uhySHj/yIYIW7VRKxFSLnxLdzzf5mxItvVSpaE7+V8DSRGJKOKXAAMAhh3G6cnEa84AAAAASUVORK5CYII=);
	background-position: 0 -4px;
	display:block;
	position:relative;
	top: -15px;
	padding: 0 5px 5px 0;
	text-decoration:none;
	cursor:pointer;
}

#socialHub .content-action-share-title {
	display:none;
}

#socialHub .content-action-share:hover {
	border:none;
}

#socialHub .content-action-share { 
	margin: 0px -2px 5px 0px;
}


/** iPad portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	#socialHub #socialheader a {
		font: bold 16px/35px Arial, sans-serif;
	}
	
	#socialHub .content-body {
		font: bold 13px/18px Arial, sans-serif;
	}
	
	#socialHub #wall .content-container {
		max-width: 33.3%;
	}
	
	#socialHub .hub-list-more {
		display:inherit !important;
	}
}

/** iPhone 5 portrait & landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
	#socialHub #socialheader a {
		font: bold 8px/35px Arial, sans-serif;
	}
	
	#socialHub .content-body {
		font: bold 13px/18px Arial, sans-serif;
	}
	
	#socialHub #wall .content-container {
		min-width: 100%;
	}
	
	#socialHub .hub-list-more {
		display:inherit !important;
	}
	
	#socialHub .feed {
		display:none;
	}
}

/** iPhone 2G-4S in portrait & landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
 	/** no rules just for this */
}

/** Android S3 (at least) */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) and 
(-webkit-device-pixel-ratio: 2) {
	#socialHub .hub-list-more {
		display:inherit !important;
	}
	
	#socialHub .feed {
		display:none;
	}
}	