@CHARSET "UTF-8";

body {
	margin:0;
	background-color: #e8e8e8;
}

#socialHub {
	width: 1200px;
	margin: 0 auto;
	box-shadow: -3px 0 5px rgba(204, 204, 204, 0.5), 3px 0 5px rgba(204, 204, 204, 0.5);
}

#socialHub a {
	color: #003399;
}

#socialHub #socialheader {
	height: 35px;
	background: linear-gradient(to bottom, #01256e, #003399);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	overflow:hidden;
}

#socialHub #socialheader div {
	width: 1030px;
	margin: 0 auto;
}

#socialHub #socialheader a {
	display: block;
	width: 343px;
	float:left;
	text-align: center;
	height: 35px;
	text-transform: uppercase;
	color: #fff;
	font: bold 21px/35px Arial, sans-serif;
}

#socialHub #hub, #socialHub #wall {
	width: 1050px;
	margin: -30px auto 0;
	padding: 30px 10px 0;
	overflow:auto;
}

#socialHub #hub .feed {
	width: 329px;
 	float: left;
	margin: 0 7px;
}

#socialHub #socialsort {
	margin-top: 20px;
}

#socialHub #socialsort a {
	cursor:pointer;
}

/* Overriding default styles */

#socialHub .content {
	border-radius:0;
}

#socialHub .content-body {
	font: bold 18px/24px Helvetica, Arial, sans-serif;
	color: #000;
}

#socialHub a.content-author-username {
	position: relative;
	top: -6px
}

#socialHub .content-author-name a, #socialHub a.content-author-username {
	font: italic 10px Helvetica, Arial, sans-serif;
	color: #999;
}

#socialHub .content.content-with-image .content-author-name a, 
#socialHub .content.content-with-image a.content-author-username {
	color: #fff;
}

#socialHub .content-author-avatar img {
	mask-image: url(../img/mask.png);
	-webkit-mask-image: url(../img/mask.png);
}