<div class="content-attachments-meta">
    <div class="content-attachments-meta-avatar"></div>
    <div class="content-attachments-meta-name"></div>
    <div class="content-attachments-meta-subname"></div>
</div>

<div class="content-attachments-gallery">
    <div class="content-attachments-gallery-focused"></div>
    <div class="content-attachments-gallery-thumbnails"></div>
</div>

<div class="content-attachments-gallery-prev">
    <div class="content-attachments-gallery-prev-btn"></div>
</div>
<div class="content-attachments-gallery-next">
    <div class="content-attachments-gallery-next-btn"></div>
</div>

<div class="content-attachments-gallery-count">
    <span class="content-attachments-gallery-current-page"></span> of <span class="content-attachments-gallery-total-pages"></span>
</div>
