<div class="content-attachment">
    <div class="content-attachment-frame"></div>
    <div class="content-attachment-photo" style="background-image: url({{{ thumbnail_url }}});">
        <div class="content-attachment-controls content-attachment-controls-play"></div>
        <img class="content-attachment-actual-image" src="{{{ thumbnail_url }}}"/>
    </div>
    <div class="content-attachment-video">
    </div>
</div>
