<div class="content-attachment">
    <div class="content-attachment-frame"></div>
    <div class="content-attachment-photo" style="background-image: url({{{ url }}});">
        <img class="content-attachment-actual-image" src="{{{ url }}}"/>
    </div>
</div>
